
[[constraint]]
  branch = "master"
  name = "github.com/bitrise-io/bitrise-init"

# The version currently dependent on by bitrise-init
[[constraint]]
  version = "1.29.0"
  name = "github.com/bitrise-io/bitrise"

# Could not introduce github.com/bitrise-io/bitrise-init@master,
# as it has a dependency on gopkg.in/yaml.v2 with constraint ^2.2.2,
# which has no overlap with existing constraint v2 from github.com/bitrise-io/bitrise@1.29.0
[[override]]
  version = "^2.2.2"
  name = "gopkg.in/yaml.v2"

[[constraint]]
  branch = "exported-functions"
  name = "github.com/bitrise-io/codesigndoc"

# Revision overrided (required by codesigndoc) to build
[[override]]
  revision = "51984334e0fb83bf66588acf87f09c5ac624874b"
  name = "github.com/bitrise-io/go-xcode"

[[constraint]]
  branch = "master"
  name = "github.com/bitrise-io/envman"

[[constraint]]
  branch = "master"
  name = "github.com/bitrise-io/go-utils"

[[constraint]]
  branch = "master"
  name = "github.com/bitrise-io/goinp"

[[constraint]]
  branch = "master"
  name = "github.com/bitrise-io/xcode-project"

[[constraint]]
  name = "github.com/pkg/errors"
  version = "0.8.1"

[[constraint]]
  name = "github.com/spf13/cobra"
  version = "0.0.4"

[[constraint]]
  branch = "master"
  name = "golang.org/x/crypto"

[prune]
  go-tests = true
  unused-packages = true
